*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background:white;
}

header{
    height: 100%;
    background:white;
}

header img{
    width: 15%;
    margin: auto;
    display: block;
    object-fit: cover;
}

.menu{
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    background: blue;
    height: 100%;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 17px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
    background-color: blue;
}

.menu li a:hover{
    background: yellow;
}

.seccion{
    background: whitesmoke;
    color: black;
    padding-bottom: 100%;
}

footer{
    height: 100%;
    width: 100%;
    background: black;
    clear: both;
    margin-bottom: 0px;
}

footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    color: white;
}